.App {
  display: flex;
  position: relative;
}
.App-content {
  padding: 30px;
}
.App-section {
  position: relative;
}
.App-grid-1 {
  width: 100%;
}
.App-grid-2 {
  flex-grow: 20%;
}
.App-grid-3 {
  flex-grow: 3;
}
.App-icon-add {
  position: absolute;
  right: -15px;
  bottom: -10px;
}
.App-search-bar {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.App-search-icon {
  padding: 20px;
}
.App-search-input {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}
.App-search-input input {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 10px;
  width: 300px;
}
.App-aside {
  padding: 30px;
  position: relative;
}
.App-aside-line {
  position: absolute;
  width: 1px;
  height: 100%;
  background: #ccc;
  right: 0;
  bottom: 0;
}