.Nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.Nav-item {
    cursor: pointer;
    padding: 5px 0;
    text-align: center;
    flex-grow: 1;
    background: #fff;
}
.Nav-item:hover {
    color: #fff;
    background: #183947;
}